.Botao {
  padding: 0.25rem 0.75rem;
  border: 1px solid black;
  color: var(--cinza);
  font-weight: bold;
  cursor: pointer;
}

.Botao:hover {
  filter: brightness(1.1);
}

.Botao[tipo="primario"] {
  background: var(--verde);
}

.Botao[tipo="secundario"] {
  background: var(--rosa);
}
